
{% extends 'plagtrace/base.html' %}

{% load staticfiles %}


{% block body %}

<main class="container">

<!--Section: Features v.4-->
<section>

    <!--Section heading-->
    <h1 class="py-5 font-weight-bold text-center">Why is it so great?</h1>
    <!--Section description-->
    <p class="px-5 mb-5 pb-3 lead grey-text text-center">The Features that makes the system valuable and increase its worth. The strength of this tool. These are the major parameters which acts as a backbones for our system</p>

    <!--Grid row-->
    <div class="row">

    <!--Grid column-->
    <div class="col-md-4">

        <!--Grid row-->
        <div class="row mb-2">
        <div class="col-2">
            <i class="fa fa-2x fa-flag-checkered deep-purple-text"></i>
        </div>
        <div class="col-10 text-left">
            <h5 class="font-weight-bold">International</h5>
            <p class="grey-text">PlagTracer follows the standardize syntax , context, rules and regulations.</p>
        </div>
        </div>
        <!--Grid row-->

        <!--Grid row-->
        <div class="row mb-2">
        <div class="col-2">
            <i class="fa fa-2x fa-flask deep-purple-text"></i>
        </div>
        <div class="col-10 text-left">
            <h5 class="font-weight-bold">Experimental</h5>
            <p class="grey-text">PlagTracer is made under the useful and valuable guidance of experienced professors and teachers. </p>
        </div>
        </div>
        <!--Grid row-->

        <!--Grid row-->
        <div class="row mb-2">
        <div class="col-2">
            <i class="fa fa-2x fa-glass deep-purple-text"></i>
        </div>
        <div class="col-10 text-left">
            <h5 class="font-weight-bold">Relaxing</h5>
            <p class="grey-text">PlagTracer doesn't makes you hyper while using it. Always feel free and easy to use. It's the first open source system which provides you advance level functionality</p>
        </div>
        </div>
        <!--Grid row-->

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-4 mb-2 center-on-small-only flex-center">
        <img src="#" alt="" class="z-depth-0">
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-4">

        <!--Grid row-->
        <div class="row mb-2">
        <div class="col-2">
            <i class="fa fa-2x fa-heart deep-purple-text"></i>
        </div>
        <div class="col-10 text-left">
            <h5 class="font-weight-bold">Beloved</h5>
            <p class="grey-text">PlagTracer is lovely because never makes their users upset. it provides very friendly and interactive user interface.   </p>
        </div>
        </div>
        <!--Grid row-->

        <!--Grid row-->
        <div class="row mb-2">
        <div class="col-2">
            <i class="fa fa-2x fa-flash deep-purple-text"></i>
        </div>
        <div class="col-10 text-left">
            <h5 class="font-weight-bold">Rapid</h5>
            <p class="grey-text">PlagTracer never irritate their users, it is reponsive and the users feel that every thing is in their own hand</p>
        </div>
        </div>
        <!--Grid row-->

        <!--Grid row-->
        <div class="row mb-2">
        <div class="col-2">
            <i class="fa fa-2x fa-magic deep-purple-text"></i>
        </div>
        <div class="col-10 text-left">
            <h5 class="font-weight-bold">Magical</h5>
            <p class="grey-text">PlagTracer will detect if some one explain quoted word by pretending their own idea and also detect if some one made changes in copied document like change synonyms. </p>
        </div>
        </div>
        <!--Grid row-->

    </div>
    <!--Grid column-->

    </div>
    <!--Grid row-->

</section>
<!--/Section: Features v.4-->

</main>
{% endblock %}